@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

h1,
h2,
h3 {
    font-family: Manrope;
}

p {
    font-size: 18px;
    color: rgb(119, 119, 119);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
}